docker.enabled = true

// Set default inputs
params.sample = "SRR2838702"
params.r1 = "https://github.com/bactopia/bactopia-tests/raw/main/data/species/portiera/illumina/SRR2838702_R1.fastq.gz"
params.r2 = "https://github.com/bactopia/bactopia-tests/raw/main/data/species/portiera/illumina/SRR2838702_R2.fastq.gz"

// Trimmomatic paramters 
params.window_size = 4
params.minlen = 75
params.quality_trim_score = 30
params.max_cpus = 4
